body {
    background-color: #212121
}
.nav-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%
    }
}
.carousel-multi-item-2 .card img {
    border-radius: 2px
}
.row {
    margin-right: -1px;
    margin-left: -1px;
}
.nav1 {
    margin-bottom: 0
}
.fixed-top-2 {
    margin-top: 56px
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%
}
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease
}
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%
    }
}
@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem
    }
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 350PX;
    perspective: 1000px
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg)
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}
.flip-card-front {
    background-color: #bbb;
    color: black
}
.flip-card-back {
    background-color: #212121;
    color: white;
    transform: rotateY(180deg)
}
.parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url('../img/index/u1.jpg');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}
.parallax-two {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../img/index/u0.jpg');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100
}
.fa-whatsapp {
    margin-top: 13px
}
.parallax-sol {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('../img/energia_solar/u116.png');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}
.parallax-sol h4 {
    font-size: 60px;
    color: #fff;
    position: relative
}
.parallax-verde {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../img/energia_solar/verdediagrama.png');
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100
}
.container-logo > .img-responsive {
    margin: 0 auto
}
.parallax-sol:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=50)
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(1.5, 1.5)
    }
}
@keyframes zoom {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(1.5, 1.5)
    }
}
.carousel-inner .item > img {
    -webkit-animation: zoom 60s;
    animation: zoom 26s
}
.imgslider {
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
    background-position: 50% 0 !important;
    height: 450px
}
.conttitle {
    margin: 40px 0 45px
}
.titsldprod {
    color: #fff !important;
    letter-spacing: 15px !important;
    font-weight: 800 !important
}
.slider-img {
    margin-top: : 0 !!important;
    position: initial !important
}
.txtdwnslider {
    width: 100%;
    height: 8px
}
.contprod {
    border-style: solid;
    border-color: #BDBDBD;
    height: 230px
}
.img-producto {
    width: 40% !important;
    width: auto;
    padding: 10px 10px
}
hr {
    border-top-color: black !important;
    margin-top: 0 !important;
    color: #ddd;
    margin-bottom: 0 !important
}
.titprod {
    color: #777777!important;
    font-size: 15px !important;
    letter-spacing: 2px
}
.btn-info-prod {
    background-color: #BDBDBD;
    border-color: #BDBDBD;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 24px;
    border-radius: 0;
    display: none
}
.desprod {
    font-size: 10px;
    letter-spacing: 1px;
    height: 200px !important;
    display: inline !important
}
.pre_prod {
    color: #000000 !important;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    display: none !important
}
.contprod {
    background-color: #ffffff !important
}
.carru-prod .owl-nav [class*=owl-] {
    opacity: 1;
    position: inherit;
    display: inline-block;
    margin: 10px;
    background-color: rgb(189, 189, 189) !important;
    border-radius: 0
}
.carru-prod .owl-nav {
    margin-top: 20px
}
.destit {
    color: #000 !important;
    font-weight: 600
}
.carousel {
    width: 100%
}
.slide-box {
    display: flex;
    justify-content: space-between
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%
    }
}
@media (min-width: 992px) {
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%
}
.accordion {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0px auto;
  }
  
  .accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
  }
  
  .accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease-in-out;
  }
  
  .accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  
  .accordion ul li div a {
    display: block;
    height: 350px;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    /*filter: invert(100%);*/
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    transition: all 300ms ease-in-out;
  }
  
  .accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .accordion ul li div a h2 {
    font-family: Montserrat, sans-serif;
    text-overflow: clip;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 160px;
  }
  
  .accordion ul li div a p {
    top: 160px;
    font-size: 18px;
    padding-left: 1em;
  }
  
  .accordion ul li:nth-child(1) { 
    background-image: url("../img/index/u5.jpg"); 
    background-position: 50% 30%;
  }
  
  .accordion ul li:nth-child(2) { 
    background-image: url("../img/index/led.jpg"); 
   background-position: 50% 30%;
  }
  
  .accordion ul li:nth-child(3) { 
    background-image: url("../img/index/FARO.jpg"); 
  background-position: 70% 0%;
  }
  
  
  
  .accordion ul li { background-size: cover; }
  .accordion ul:hover li { width: 10%; }
  .accordion ul:hover li:hover { width: 90%; }
  
  /*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/
  
  .accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
   @media screen and (max-width: 680px) {
    
    body { margin: 0; }
    .accordion { height: auto; }
  
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none;
    }
    .accordion ul li div a * {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .zoom{
    /* Aumentamos el ancho y la altura durante 1 segundo */
    transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;    
}
.zoom:hover{
    /* tranformamos  su tamaño al pasar el mouse por encima con scale(2.5). */
    transform : scale(1.5);
    -moz-transform : scale(1.5);      /* Firefox */
    -webkit-transform : scale(1.5);   /* Chrome - Safari */
    -o-transform : scale(1.5);        /* Opera */
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
}

.inicio{
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
}
  


.caja { 
                      
    font-family: sans-serif;
    color: #000000;
    background: #fafafa;
    margin: 0 0 40px;
    overflow: hidden;
    padding: 20px;
    border-radius: 35px 0px 35px 0px;
    text-align: center;
    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
    width: 900px;
       }
    
    
    
    
    .nos {
      background-image: url("/img/index/led.jpg"); 
      font-size: 1.5em;
        color: #FE7F88; 
    }
    
    
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:900);
    
    * {
      padding: 0;
      margin: 0;
    }
    
    h1 {
      margin:50px 0;
      text-align:center;
      color: rgb(253, 253, 253);
      font-family: 'Roboto', sans-serif;
      font-size: 70px;
    }
    
    .efecto-espejo {
     -webkit-box-reflect: below -30px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.089)));
    }
    
                   .brillo{
                    color: rgb(252, 252, 200);
                    text-shadow: 0 0 30px #fff;
                  }
    
                  .direccion{
                    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    line-height: 5px;
                    font-size: 16px;
                  }
    
    
                  ul {
                    list-style: none; /* Remove default bullets */
                  }
                  
                  ul li2::before {
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: white; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    padding-right: 10px;
                    padding-left: 18px;
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                  }
    
                  #contact .card:hover i,#contact .card:hover h4{
                    color: #87d37c;
                    
    
                  }
                  .llamanos {
                    font-size: 30px;
                    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
                    background-color: rgb(48, 18, 116);
                }
                .llamanos2 {
                    font-size: 30px;
                    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
                    background-color: rgb(34, 146, 59);
                }

.quenecesitas{
                     font-size: 30px;
                    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
                    color: #6bdd95;

}

.quenecesitas2{
                  font-size: 15px;
                    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
                    color: #bbb;

}

.energia_number{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    text-align: center;
    font-family: 'PT Sans Bold', 'PT Sans', sans-serif;
    border-radius: 100%;
    background: #25d366;
}